# Среды разработки и системные файлы
.DS_Store
.vscode/
.idea/

# Виртуальные окружения Python
venv/
env/

# Кэш Python
__pycache__/
*.pyc

# Секреты и конфигурации
.env

# Тяжелые файлы данных и модели машинного обучения
*.h5
*.pt
*.weights
dataset/