# Среды разработки и системные файлы
.DS_Store
.vscode/
.idea/

# Виртуальные окружения Python
venv/
env/
.venv/

# Кэш Python
__pycache__/
*.pyc

# Секреты и конфигурации
.env

# Тяжелые файлы данных и модели машинного обучения
# Модель весит всего 90кб, поэтому оставляем ее в репозитории
# *.h5
*.pt
*.weights
dataset/
raw_data/
input_data/
temp_voice.wav