# Настройки отправки Email (Системный бот)
SYSTEM_EMAIL=
SYSTEM_EMAIL_PASSWORD=

# Настройки отправки Telegram (Системный бот)
# 1. Создайте бота через @BotFather в Telegram, скопируйте токен.
# 2. Узнайте свой chat_id через @userinfobot.
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
